h1{
    font-size: 30px;
    font-family: "Agency FB",Helvetica,"Times New Roman",sans-serif;
    color: darkslateblue;
    text-align: center;
    font-weight: bolder;
}

h2{
    background-color: darkslateblue;
}